body {
  background-color: slategray;
}

.voldyArmy {
  text-align: center;
  width: 50%;
  padding: 20px;
}


.hogwarts {
  text-align: center;
  width: 50%;
  padding: 20px;
}

.gry {
  background-color: maroon;
}

.huf {
  background-color: darkgoldenrod;
}

.sly {
  background-color: darkgreen;
}

.rav {
  background-color: midnightblue;
}
